body {
/*    background dark */
    background-color: rgb(31, 31, 31);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid white;
    border-bottom: 16px solid blue;
    border-left: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}